.division {
  width:100%;
  height:20px;
  background-color: black;
}
h1 {
  font-style:impact;
  font-size:30px;
  font-weight: bold;
  color: black;
}
img {
  float:left;
  height:200px;
  width:100px;
}
h2 {
  font-style:impact;
  font-size:20px;
  font-weight: bold;
}
p {
  font-style:helvetica;
  max-width:1000px;
}
.t1 {
  color:#89B078;
}
.vision {
  color:black;
  background-color:#89B078;
  background:75%;
}
.t2 {
  color:#273204;
}
.roots {
  color:white;
  background color:#273204;
  background:75%;
}
